.favgrid{
  display: flex;
  flex-direction: row;
}
.board{
  background-color:#ebe5dc;
  width: 100%;
}
.navbar {
  list-style-type: none;
  margin: 0 3px 0 3px;
  padding: 5px;
  overflow: hidden;
  background-color: #e2dbd1;
}

.navbar li {
  float: left;
  border-radius: 5px;
  background-color: #FBF6EE;
}
.navbar li:hover {
  background-color: #e2dbd1;
}

.newspaper{
  text-decoration: none;
  display: block;
  background-color: #e2dbd1;
  border-radius: 5px;
  color: black;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

}
.newspaper:hover{
  background-color: #faf8f5 ;
}